:root {
  --body-background: #FFFAF3;
  --body-color: #444;
  --heading-color: #06651F;
  --action-color: #8B297B;
  --dark-green: #06651F;
  --darker-purple: #1F001A;
}

@font-face {
  font-family: 'Acme'; /* Choose a suitable name for your font */
  src: url('../fonts/Acme-Regular.ttf') format('truetype'); /* Adjust the font format if necessary */
  /* Add other font properties if needed, like font-weight and font-style */
}

@font-face {
  font-family: 'Inter'; /* Choose a suitable name for your font */
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype'); /* Adjust the font format if necessary */
  /* Add other font properties if needed, like font-weight and font-style */
}


body {
  background: var(--body-background);
  color: var(--body-color);
  /* font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif; */
  font-family: 'Inter';
  font-weight: 500;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Acme';
}

a {
  color: var(--action-color);
  text-decoration: underline;
  /* text-decoration-color: #ffb088; */
  text-decoration-color: var(--dark-green);
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

body > header {
  max-width: 65rem;
  margin: 2rem auto 4rem;
  font-family: 'Acme';
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 500px) {
    flex-flow: column wrap;
    margin: 2rem auto 1rem;
  }
}

body > header a {
  margin: 0 auto 0 1rem;

  @media (max-width: 500px) {
    margin: 0 auto;
  }
}

body > header img {
  /* display: inline-block; */
  width: 120px;
  max-width: 100%;
}

header > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;

  @media (max-width: 500px) {
    flex-flow: column wrap;
  }
}

header > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  /* min-height: calc(100vh - 200px); */
  padding: 25px 25px 50px;
  /* background: white; */
  /* box-shadow: 2px 3px 3px #ddd; */
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

#flower {
  text-align: center;
}

#flower img {
  max-width: 100%;
  filter: invert(1) hue-rotate(35deg) saturate(100%) brightness(97.9%);
  filter: invert(1) hue-rotate(98deg) saturate(100%) brightness(97.9%);
  margin-bottom: -3.4rem;
}

img.centered {
  max-width: 600px;
  margin: 0 auto;
  display: block;

  @media (max-width: 500px) {
    max-width: 100%;
  }
}

#we {
  border: 1px solid var(--darker-purple);
}